.annotations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.annotations .title {
  padding: 0.5em 0 0 0;
  text-align: center;
}

.annotations .main {
  display: flex;
  flex-grow: 1;
  max-height: 80%;
  width: 80%;
  justify-content: center;
}

.annotations .main > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em 0 #9c9c9c;
  margin: 1em;
  width: 50%;
  background-color: #94e561;
  padding: 1em;
}

.lyrics {
  border-radius: 1em;
  background-color: #ffffff;
  padding: 1em;
}

.annotationNav {
  display: flex;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em 0 #9c9c9c;
  background-color: #94e561;
  padding: 1em;
}

.annotationNav button {
  margin: .5em;
  width: 20em;
  border-color: #ffffff;
  background-color: #ffffff;
  box-shadow: none;
}

.annotationNav a * {
  color: #1f1f27;
}

.annotationNav a:hover * {
  border-color: #1f1f27;
  background-color: #1f1f27;
  color: #21D460;
}

.annotations .nav {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  width: 100%;
}

/* .annotations .nav > * {
  margin: 0 5em;
} */