.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.lists {
  display: flex;
  max-height: 80%;
}

.lists > * {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.results {
  overflow: scroll;
  scrollbar-color: #94e561 #1f1f27;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  width: 100%;
}

.nav > * {
  margin: 0 5em;
}