.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
}

.welcome > * {
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
}

.about {
  flex-grow: 1;
  width: 25em;
  height: 20em;
  background-color: #94e561;
}

.cassette {
  display: flex;
  flex-grow: 2;
  align-self: center;
  margin: 0;
  margin-bottom: 5em;
  width: 40em;
  height: 30em;
}

.cassetteImage {
  height: 150%;
  width: 150%;
  background-image: url('../assets/cassette.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
}

.credits {
  flex-grow: 1;
  align-self: flex-end;
  justify-self: flex-end;
  max-width: 25em;
  max-height: 20em;
  background-color: #21d460;
}
