.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
}

.welcome > * {
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
}

.about {
  flex-grow: 1;
  width: 25em;
  height: 20em;
  background-color: #94E561;
}

.cassette {
  flex-grow: 2;
  align-self: center;
  width: 40em;
  height: 25em;
  background-color: #F8F23A;
}

.credits {
  flex-grow: 1;
  align-self: flex-end;
  justify-self: flex-end;
  max-width: 25em;
  max-height: 20em;
  background-color: #21D460;
}
